.App {
  text-align: center;
 }
 html, body {
   height: 100%;
 }

.wrap {
  flex: 1 1 0;
  position: relative;
  flex-basis: 350px;

}
.container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

h2 {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: all 0.5s;
  color: white;
  background-color: black;
  padding-top: 3px;
  padding-left: 3px;
  padding-right: 3px; 

}

.image {
  display: block;
  width: 100%;

}
.wrap:hover h2{
  opacity: 1;

}
.App-logo {
  height: 50vh;
  
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}




