.App {
  text-align: center;
 

}
.table {
  height: 100%;
  width: 100%;
  display: flex;


  }

.wrap {
  flex: 1;
  margin: 1.5em;
  position: relative;

}
h2 {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  color: white;
  background-color: black;
  padding-left: 3px;
  padding-right: 3px; 

}

.image {
  display: block;
  width: 100%;

}
.wrap:hover h2{
  opacity: 1;

}
.App-logo {
  height: 50vh;
  
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@media only screen and (max-width: 600px) {
  .table {
    flex-direction: column;
  }
}


