.App {
  text-align: center;
 

}
.table {
  height: 100%;
  width: 100%;
  display: flex;

  }

.wrap {
  flex: 1;
  margin: 1.5em;

}
.image {
  display: block;
  height: 90%;
  width: 100%;
  
}

.App-logo {
  height: 50vh;
  
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@media only screen and (max-width: 600px) {
  .table {
    flex-direction: column;
  }
}


